* {
  box-sizing: border-box;
}

body {
  background-color: beige;
}

#wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr)repeat(6, minmax(0, 175px)) minmax(0,1fr);
}

nav {
  grid-column: 2/3;
  background-color: bisque;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
}
nav ul li {
  width: 100%;
}
nav ul li a {
  text-decoration: none;
  color: chartreuse;
  padding: 10px;
  display: block;
  text-align: left;
}
nav a:hover,nav a.active {
    background-color: coral;
    color:wheat;
}
main {
  grid-column: 3/-2;
  background-color: cornsilk;
}

footer {
  grid-column: 3/-2;
  background-color: chocolate;
  color: white;
  text-align: center;
}
main,footer {
  padding: 16px;
}
